


<html>
    <head>
        <style>
        



        </style>
       
    <link rel="stylesheet" href="~/css/htsclassifier.css">
    <script defer src="~/js/htsclassifier.js"></script>
    </head>
    <body>
    <H1>Product Classifier</H1>
    <div id="masterContainer">
        <table>
            <tr>

                <td>
                    <div class="search-container">
                        <table width="100%">
                            <tr>
                                <td width="80%">
                                    <input class="search-box" id="htsSearch" type="text" placeholder="Enter Search Criteria">
                                </td>
                                <td width="10%" align="right">
                                    <button class="search-button" onClick="getHTSTree();">Search</button>
                                </td>
                                <td width="10%" align="right">
                                    <button class="search-button" onClick="clearSearch();">Clear</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="100%" class="td_info_spn">
                    <span id="ip_001"></span>
                </td>
            </tr>
            <tr>

                <td width="100%">
                    <div class="results-div" id="results-div"></div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="search-container">
                        <table width="100%">
                            <tr>
                                <td width="25%">
                                    <input id="htsCode" class="search-box" type="text" placeholder="Classification Code">
                                </td>
                                <td width="25%" align="right">
                                    <button class="button-inactive" onClick="publishFunction();">Send Email</button>
                                </td>
                                <td width="25%">
                                </td>
                                <td width="25%">
                                </td>
                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
            <tr>
                <td width="100%" class="td_info_compincomp_spn">
                    <span id="ip_002"></span>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>
    </body>
</html>